.static {
    background: grey;
    display: inline-block;
    margin: 10px;
}


div {
    height: 100px;
    width: 200px;
    line-height: 100px;
    transition: 0.2s;
    text-align: center;
}

.Orange {
    background-color: orange;
    transition-property: background-color, border-radius;
    transition-duration: 1s, 1s;
}

.Yellow {
    background-color: yellow;
    transition-property: width, box-shadow;
    transition-duration: 1s, 1s;
}


.Green {
    background: green;
    /*border: 3px solid transparent;*/
/*    transition-duration: 250ms;
    transition-property: border-top-color, border-right-color, border-bottom-color, border-left-color, background-color;
    transition-delay: 250ms, 0.5s, 750ms, 1s, 1.25s, 1.5s;*/

}


.Orange:hover {
    background-color: red;
    border-radius: 70%;
}

.Yellow:hover {
    width: 200px;
    box-shadow: 2px 6px 2px rgba(0, 0, 0, .3);
   
}

.Green:hover {
    /*    border-top-color: red;
    border-right-color: blue;
    border-bottom-color: yellow;
    border-left-color: black;
    background-color: white;*/
    transform: rotate(2turn);
    background-color: aliceblue;
}

